# Requirements for app
-c requirements-app.txt

# Notebooks
jupyterlab
ipywidgets

# Additional data
censusdata

# Visualization
seaborn
plotly
jupyter-dash

# Hyperparameter tuning
optuna

# Progress bars
tqdm

# Graphs
neo4j

# Testing
pytest

# Formatting
black[jupyter]
isort

# Typing
mypy
types-requests
