# Notebooks
jupyterlab
ipywidgets

# Dataframes
pandas

# Machine Learning
scikit-learn

# HTTP
requests

# Progress bars
tqdm

# Graphs
neo4j

# Testing
pytest

# Formatting
black[jupyter]
isort

# Typing
mypy
types-requests

censusdata
plotly
jupyter-dash
