# Notebooks
jupyterlab
ipywidgets

# Visualization
matplotlib
seaborn

# Apps
dash
gunicorn

# Dataframes
pandas >= 1.4.2
pyarrow

# Statistical Learning
scikit-learn
lightgbm
sktime
statsmodels >= 0.13.2
tsfresh

# Hyperparameter tuning
optuna

# HTTP
requests

# Progress bars
tqdm

# Graphs
neo4j

# Testing
pytest

# Formatting
black[jupyter]
isort

# Typing
mypy
types-requests
